<h1> Home Page</h1>

<form action= "/artists" method="post">  <!-- where the posted information will go-->
  <input id="name" type="text" name="name" placeholder="Pink Floyd">
  <input type="submit" value="Search for an Artist">
</form>
